<h1>Welcome To PNPAA</h1>
<p>We are currently focusing on the development of the mobile app and so this server is mostly for serving api calls from the PNPAA mobile app</p>
<p>However, you can register yourself <a href="/users/sign_up">here</a> for the meantime so you can start using the beta app.</p>
