<p>Welcome <%= @email %>!</p>

<div></div>

<p>You can confirm your PNPAA account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Thanks,</p>
<p>Adones</p>
